

@media only screen and (min-width: 1200px) 
{
    #burger-menu-img {
        display: none;
    }
   
    
}
         /*SMALL DESKTOP*/

@media only screen and (max-width:1199px) and (min-width:992px) { 

    #burger-menu-img {
        display: none;
    }
    
    /* HERO */
   
    /* LOGOS */

    #logos-section-phone {
        display: none;
    }

    /* PROJECTS */

    #project-section {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 0 8vh 0;
    }
    /* SERVICES */

    #services-section {
        width: 90%;
    }
    /* CTA */
    
    #cta-section {
        width: 100%;
    }
    
    footer {
        width: 90%;
    }
}

/* TABLET*/ 
 @media only screen and (max-width:991px) 
{ 
    /* HEADER */
    header {
        margin: 2vh 0 4vh 0;
        width: 95%;
    }
    .main-nav {
        display: none;
    }
    #header-cta {
        display: none;
    }


    /* HERO */
	.section-hero {
        padding-top: 0px;
    }
   
    #hero-container {flex-direction: column;}

    #hero-content {
        display: flex;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    #hero-content {
        display: flex;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    #hero-content h1 {
        text-align: center;
    } 

#circle {
    max-width: 600px;
    text-align: center;
}    
.hero-buttons {
   
    display: flex;
    
    flex-direction: row-reverse;
   
    justify-content: flex-start;
    
    align-items: center;
}

.hero-image {
    margin-top: 40px;
}

    /* COMPANIES */

.grid-logos {
    justify-items: center;
    
    align-items: center;
    grid-column-gap: 50px;
    
    grid-template-columns: 1fr 1fr;
    
    grid-template-rows: auto auto;
}

    
    #amazon-logo {
        display: none;
    }

    /* PROJECTS */
    #project-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 40px 0 0;
        padding: 0px 30px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        margin: 5vh 0 0 0;
    }
    .project-content {
        width: 700px;
        margin: 3vh 4vh 0 0;
        flex-wrap: wrap;
    }

    .card-image img {
        width: 700px;
    height: 260px;}

    /* TESTIMONIALS */

    .section-testimonials {
        width: 100%;
        height: 500px;
    margin-top: 60px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .testimonial-heading {
        max-width: 400px;
        margin-bottom: 0px;
        line-height: 150%;
    }

    #emoji {
        width: 100px;
    height: 100px;
    }

     /* SERVICES */
     
    /* CTA */
    
    footer {
        width: 90%;
    }
} 

/* PHONE */
@media only screen and (max-width: 767px)  {
    /* HEADER */
    header {
        margin: 2vh 0 4vh 0;
        width: 95%;
    }
    header nav {
        display: none;
    }
    #header-cta {
        display: none;
    }


    .section-hero {
        padding-top: 0px;

    }

#hero-container {
    flex-direction: column;
}
#hero-content {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#hero-content h1 {
    font-size: 40px;
    text-align: center;
}

#circle {
    font-size: 17px;
    max-width: 600px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
    

.hero-image {
    margin-top: 40px;
}
    .hero-card-1 {display: none;}
.hero-card-2 {display: none;}

    /* COMPANIES */
    #logos-section {
        display: none;
    }
    #logos-section-phone {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10vh 0 10vh 0;
    }
    .logos-phone {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }
    #amazon-logo {
        display: none;
    }
    /* PROJECTS */

    #project-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 40px 0 0;
        padding: 0px 30px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        height: auto;
        margin: 5vh 0 0 0;
    }
    .project-content {
        width: 80%;
        margin: 3vh 4vh 0 0;
        flex-wrap: wrap;
    }

    .card-image img {
        width: 80%;
    height: 260px;}

    /* TESTIMONIALS */

    @media screen and (max-width: 479px){
    .testimonial-heading {
        font-size: 30px;
    }
}

    .section-testimonials {
        height :450px;
    
    }

.testimnonials-box {
    height:100%;
    justify-content: space-around;
}

.testimonials-heading {
    max-width:400px;
    margin-bottom: 0px;
    line-height: 150%;
}

    #emoji {
        display: none;
    }
     /* SERVICES */
     #section-services {
        width: 90%;
        
    }
    .services-grid {
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .service-card {
        max-width: 100%;
    }
    .service-item {
        width: 100%;
        height: 40vh;
        margin: 4vh 0 0 0;
    }
    .service-icon {
        padding: 20px;
        margin: 4vh 0 0 4vh;
    }
    /* CTA */
    @media screen and (max-width: 991px){

        .section.cta-section{display: flex;
        max-width: 100%;
    margin-top: 60px;
flex-direction: row;}
        .button.primary-button.cta-button {
            display: block;
        }}

    @media screen and (max-width: 767px){
        
        .cta-section {
            width: 100%;
        }
        .container-cta {
            max-width: 100%;
        }
        .form-block {
            flex-direction: column;
        }
.cta-form {
    
    flex-direction: column;

}
.button.primary-button.cta-button {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
}
}


    /* FOOTER */


    .container-footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        align-items: center;
    }
    .footer-content-address {
        text-align: center;
    }
    .footer-links {
        margin-top: 20px;
    }
}

@media screen and (max-width: 991px){
.section.footer {
    margin-top: 60px;
}}
@media screen and (max-width: 767px){
.container.footer {
    
    align-items: center;
}
.footer-content {
    align-items: center;
}
.footer-links {
margin-top: 20px;
}}
